body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
    height: 30px;
    background-color: darkorange;
    color: white;
    text-align: center;
    padding: 10px;
    
}

#titlelink {
    float: left;
    font-size: 26px;
    letter-spacing: 4px;
    margin: 0;
    padding-left: 20px;
    font-weight: 700;
}

img {
    height: 100px;
    width: 100px;
}

#root {
    height: calc(100vh - 50px);
}

.title {
    font-size: 24px;
    padding: 10px;
}

a {
    color: darkorange;
}

#titlelink {
    color: white;
    text-decoration: none;
}

.price {
    padding: 10px;
    padding-top: 0;
    font-size: 16px;
}

.gallery {
    margin: 5px;
    
}

.fa-bars {
    display: none;
}

#searchtext {
    margin: 20px;
    width: 80%;
    padding: 6px;
}

#menu {
    height: calc(100vh - 50px);
    width: 300px;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: bisque;
    opacity: 0.9;
    z-index: 2;
    margin: 0;
}

#results {
    height: 90%;
    width: 90%;
    background-color: white;
    margin: auto;
    overflow-y: scroll;
}

ul {
    list-style: none;
    margin: 0;
    padding: 30px 20px;
}

li {
    height: 50px;
}

li a {
    color: black;
    font-weight: 700;
    text-decoration: none;
}

li a:hover {
    color: darkorange;
    cursor: pointer;
}

.active {
    transition: 0.3s;
    right: -300px;
}

.fa-bars {
    display: block;
    position: absolute;
    right: 30px;
    top: 13px;
    font-size: 26px;
    color: white;
}

.fa-bars:hover {
    color: saddlebrown;
    cursor: pointer;
}

@media screen and (max-width: 560px) {
    
    
    #titlelink {
        font-size: 16px;
        line-height: 16px;
        padding: 0 50px 0 20px;
    }
    
    
    
}